* {
  margin: 0;
  padding: 0;
}

html {
  /* gray */
  --color-gray-1: #f6f6f6;
  --color-gray-2: #e2e2e2;
  --color-gray-3: #8b8b8b;
  --color-gray-4: #6f6f6f;
  --color-gray-5: #3e3e3e;
  --color-gray-6: #222222;

  /* rose */
  /* hue 1 */
  --color-rose-1: #fff7f9;
  --color-rose-2: #ffdce5;
  --color-rose-3: #ff3b8d;
  --color-rose-4: #db0072;
  --color-rose-5: #800040;
  --color-rose-6: #4c0023;

  /* raspberry */
  /* hue 2 */
  --color-raspberry-1: #fff8f8;
  --color-raspberry-2: #ffdddf;
  --color-raspberry-3: #ff426c;
  --color-raspberry-4: #de0051;
  --color-raspberry-5: #82002c;
  --color-raspberry-6: #510018;

  /* red */
  /* hue 3 */
  --color-red-1: #fff8f6;
  --color-red-2: #ffddd8;
  --color-red-3: #ff4647;
  --color-red-4: #e0002b;
  --color-red-5: #830014;
  --color-red-6: #530003;

  /* orange */
  /* hue 4 */
  --color-orange-1: #fff8f5;
  --color-orange-2: #ffded1;
  --color-orange-3: #fd4d00;
  --color-orange-4: #cd3c00;
  --color-orange-5: #752100;
  --color-orange-6: #401600;

  /* cinnamon */
  /* hue 5 */
  --color-cinnamon-1: #fff8f3;
  --color-cinnamon-2: #ffdfc6;
  --color-cinnamon-3: #d57300;
  --color-cinnamon-4: #ac5c00;
  --color-cinnamon-5: #633300;
  --color-cinnamon-6: #371d00;

  /* amber */
  /* hue 6 */
  --color-amber-1: #fff8ef;
  --color-amber-2: #ffe0b2;
  --color-amber-3: #b98300;
  --color-amber-4: #926700;
  --color-amber-5: #523800;
  --color-amber-6: #302100;

  /* yellow */
  /* hue 7 */
  --color-yellow-1: #fff9e5;
  --color-yellow-2: #ffe53e;
  --color-yellow-3: #9c8b00;
  --color-yellow-4: #7d6f00;
  --color-yellow-5: #463d00;
  --color-yellow-6: #292300;

  /* lime */
  /* hue 8 */
  --color-lime-1: #f7ffac;
  --color-lime-2: #d5f200;
  --color-lime-3: #819300;
  --color-lime-4: #677600;
  --color-lime-5: #394100;
  --color-lime-6: #222600;

  /* chartreuse */
  /* hue 9 */
  --color-chartreuse-1: #e5ffc3;
  --color-chartreuse-2: #98fb00;
  --color-chartreuse-3: #5c9b00;
  --color-chartreuse-4: #497c00;
  --color-chartreuse-5: #264500;
  --color-chartreuse-6: #182600;

  /* green */
  /* hue 10 */
  --color-green-1: #e0ffd9;
  --color-green-2: #72ff6c;
  --color-green-3: #00a21f;
  --color-green-4: #008217;
  --color-green-5: #004908;
  --color-green-6: #062800;

  /* emerald */
  /* hue 11 */
  --color-emerald-1: #dcffe6;
  --color-emerald-2: #5dffa2;
  --color-emerald-3: #00a05a;
  --color-emerald-4: #008147;
  --color-emerald-5: #004825;
  --color-emerald-6: #002812;

  /* aquamarine */
  /* hue 12 */
  --color-aquamarine-1: #daffef;
  --color-aquamarine-2: #42ffc6;
  --color-aquamarine-3: #009f78;
  --color-aquamarine-4: #007f5f;
  --color-aquamarine-5: #004734;
  --color-aquamarine-6: #00281b;

  /* teal */
  /* hue 13 */
  --color-teal-1: #d7fff7;
  --color-teal-2: #00ffe4;
  --color-teal-3: #009e8c;
  --color-teal-4: #007c6e;
  --color-teal-5: #00443c;
  --color-teal-6: #002722;

  /* cyan */
  /* hue 14 */
  --color-cyan-1: #c4fffe;
  --color-cyan-2: #00fafb;
  --color-cyan-3: #00999a;
  --color-cyan-4: #007a7b;
  --color-cyan-5: #004344;
  --color-cyan-6: #002525;

  /* powder */
  /* hue 15 */
  --color-powder-1: #dafaff;
  --color-powder-2: #8df0ff;
  --color-powder-3: #0098a9;
  --color-powder-4: #007987;
  --color-powder-5: #004048;
  --color-powder-6: #002227;

  /* sky */
  /* hue 16 */
  --color-sky-1: #e3f7ff;
  --color-sky-2: #aee9ff;
  --color-sky-3: #0094b4;
  --color-sky-4: #007590;
  --color-sky-5: #00404f;
  --color-sky-6: #001f28;

  /* cerulean */
  /* hue 17 */
  --color-cerulean-1: #e8f6ff;
  --color-cerulean-2: #b9e3ff;
  --color-cerulean-3: #0092c5;
  --color-cerulean-4: #00749d;
  --color-cerulean-5: #003c54;
  --color-cerulean-6: #001d2a;

  /* azure */
  /* hue 18 */
  --color-azure-1: #e8f2ff;
  --color-azure-2: #c6e0ff;
  --color-azure-3: #008fdb;
  --color-azure-4: #0071af;
  --color-azure-5: #003b5e;
  --color-azure-6: #001c30;

  /* blue */
  /* hue 19 */
  --color-blue-1: #f0f4ff;
  --color-blue-2: #d4e0ff;
  --color-blue-3: #0089fc;
  --color-blue-4: #006dca;
  --color-blue-5: #00386d;
  --color-blue-6: #001a39;

  /* indigo */
  /* hue 20 */
  --color-indigo-1: #f3f3ff;
  --color-indigo-2: #deddff;
  --color-indigo-3: #657eff;
  --color-indigo-4: #0061fc;
  --color-indigo-5: #00328a;
  --color-indigo-6: #001649;

  /* violet */
  /* hue 21 */
  --color-violet-1: #f7f1ff;
  --color-violet-2: #e8daff;
  --color-violet-3: #9b70ff;
  --color-violet-4: #794aff;
  --color-violet-5: #2d0fbf;
  --color-violet-6: #0b0074;

  /* purple */
  /* hue 22 */
  --color-purple-1: #fdf4ff;
  --color-purple-2: #f7d9ff;
  --color-purple-3: #d150ff;
  --color-purple-4: #b01fe3;
  --color-purple-5: #660087;
  --color-purple-6: #3a004f;

  /* magenta */
  /* hue 23 */
  --color-magenta-1: #fff3fc;
  --color-magenta-2: #ffd7f6;
  --color-magenta-3: #f911e0;
  --color-magenta-4: #ca00b6;
  --color-magenta-5: #740068;
  --color-magenta-6: #44003c;

  /* pink */
  /* hue 24 */
  --color-pink-1: #fff7fb;
  --color-pink-2: #ffdcec;
  --color-pink-3: #ff2fb2;
  --color-pink-4: #d2008f;
  --color-pink-5: #790051;
  --color-pink-6: #4b0030;

  --color-black: #000000;
  --color-white: #ffffff;

  --color-background: var(--color-yellow-1);
  --color-text: var(--color-yellow-6);
  --color-text-subtle: var(--color-yellow-4);
  --color-link: var(--color-blue-5);
  --color-link-hover: var(--color-blue-4);
  --color-link-underline: var(--color-blue-2);
  --color-border: var(--color-yellow-3);
  --font-size: min(2.0rem, max(1.75vw, 1.4rem));
  --font-size-l: calc(var(--font-size) * 2);
  --font-size-s: calc(var(--font-size) * 1);
  --line-height: calc(var(--font-size) * 1.375rem);
  --line-height-l: calc(var(--line-height) * 2);
  --line-height-s: calc(var(--line-height) / 2);
  --margin-small: calc(var(--font-size) / 2);
  --margin-medium: calc(var(--margin-small) * 2);
  --margin-large: calc(var(--margin-medium) * 2);

  background: var(--color-background);
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  flex: 1;
  font-size: .625rem;
  min-height: 100vh;
  min-height: 100dvh;
}

::selection {
  background: var(--color-text);
  color: var(--color-background);
}

@media (prefers-color-scheme: dark) {
  html {
    --color-background: var(--color-yellow-6);
    --color-text: var(--color-yellow-1);
    --color-text-subtle: var(--color-yellow-4);
    --color-link: var(--color-blue-2);
    --color-link-hover: var(--color-blue-3);
    --color-link-underline: var(--color-yellow-5);
    --color-border: var(--color-yellow-4);
  }
}

body {
  display: flex;
  flex: 1;
  flex-direction: column;
  font-family: "Iosevka Owl Extended", "Iosevka Extended", sans-serif;
  font-optical-sizing: auto;
  font-size: var(--font-size);
  font-synthesis: none;
  font-weight: 400;
  line-height: var(--line-height);
  max-width: 55em;
  hanging-punctuation: first;
  padding: var(--margin-medium);
}

a {
  color: var(--color-link);
  font-weight: 500;
  text-decoration: underline;
  text-decoration-color: var(--color-link-underline);
  -moz-text-decoration-style: wavy;
  -webkit-text-decoration-style: wavy;
  text-decoration-style: wavy;
}

a:hover {
  color: var(--color-link-hover);
}

:focus {
  outline-color: var(--color-border);
}

.fill {
  flex: 1;
}

.btm {
  margin-top: auto;
}

h1 {
  font-size: var(--font-size-l);
  font-weight: 300;
  line-height: var(--line-height-l);
}

h2 {
  font-size: var(--font-size);
  font-weight: 800;
  margin-bottom: var(--margin-medium);
}

ul {
  list-style: none;
}

li {
  display: flex;
}

ul>li::before {
  content: "•\00a0";
}

summary {
  cursor: pointer;
  margin-bottom: var(--margin-small);
  width: max-content;
}

table {
  border-collapse: collapse;
  font-size: inherit;
}

td,
th {
  border: thin solid var(--color-border);
  padding: var(--margin-small) var(--margin-medium);
  text-align: left;
}

pre {
  font-size: var(--font-size);
  -webkit-user-select: all;
  user-select: all;
  overflow-x: auto;
  max-width: max-content;
  white-space: pre-line;
  word-break: break-word;
}

output {
  display: block;
  margin: var(--margin-small) 0;
}

code,
pre {
  font-family: "Iosevka Owl Term", "Iosevka Term", monospace;
}

pre .cl::before {
  color: var(--color-text-subtle);
  content: "$ ";
}

blockquote {
  max-width: 64em;
  padding-left: var(--margin-small);
  text-align: right;
}

blockquote[lang="en"]::before {
  content: "“";
  font-style: initial;
}

blockquote[lang="en"]::after {
  content: "”";
  font-style: initial;
}

details,
h1,
li,
p,
pre,
table,
ul {
  margin-bottom: var(--margin-small);
}

h2 {
  margin-top: var(--margin-medium);
}

blockquote {
  margin-top: var(--margin-small);
}

button {
  padding: var(--margin-small);
}

.ts {
  font-size: var(--font-size-s);
  line-height: var(--line-height-s);
}

.i {
  font-style: italic;
}

.squint {
  color: var(--color-text-subtle);
}